.App-header {
  margin: 15px 0 20px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.App {
  padding: 35px 0 20px;
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  width: 240px;
  display: block;
  margin: 14px auto 0px;
  border-radius: 10px;
}

.code {
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
}

.container {
  background-color: #e2e1f9;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 5px 20px 20px 20px;
}

a {
  color: #7852d4;
}

@media (min-width: 300px) {
  .container {
    max-width: 295px;
  }

  .code {
    font-size: 6px;
  }
}

@media (max-width: 300px) {
  .App-header {
    font-size: 30px;
    margin: auto 10px 15px;
  }
  .Dictionary input {
    font-size: 15px;
  }
  .code {
    font-size: 6px;
  }
}

@media (min-width: 400px) {
  .container {
    max-width: 380px;
  }

  .code {
    font-size: 8px;
  }
}

@media (min-width: 500px) {
  .container {
    max-width: 470px;
  }

  .code {
    font-size: 10px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 560px;
  }
  .code {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 400px) {
  .App {
    padding: 5px 3px;
  }
}
